

/* Basic */

*
{
	margin: 0em;
	padding: 0em;
}

h1,h2,h3,h4,h5,h6
{
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

hr{
	border: none;
	color: #D2AC3A;
	border-top: 1px dotted;
	margin-bottom: 10px}

fieldset {
	border: 1px dotted #D2AC3A;
	margin-bottom: 1.4em;
	padding: 0.6em;
}


body
{
	font-family: "trebuchet ms", sans-serif;
	font-size: 10pt;
	background-image:url('images/fejl(1).jpg'), url('images/ecske.png'), url('images/resz.png'); 
	background-repeat:repeat-x, repeat-x, repeat-x;
	background-position: left top, 0px 134px, 0px 226px;
	background-color: #34807E;
	color: #6F5129;
}

a
{
	color: #1C9D60;
	text-decoration: underline;
}


/* Outer */

#outer
{
	width: 840px;
	margin: 2em auto;
}

/* Header */

#header
{
	padding: 1.75em;
	text-align: center;
}

#header h1
{
	font-size: 2em;
}

#header h2
{
	font-size: 1em;
	color: #F0C162;
}

#header h1 a
{
	color: #fff;
	text-decoration: none;
}

/* Menu */

#menu
{
	background: #34807F url('images/a1(1).jpg') top left no-repeat;
	height: 94px;
	width: 778px;
	margin-left: 23px;
	margin-top: 8px;
}

#menu ul
{
	list-style: none;
	text-align: center;
	position: relative;
	top: 45px;
	left: 60px
}

#menu li
{
	padding: 0em 1.5em 0em 1.5em;
	display: inline;
}

#menu li a
{
	color: #3A2000;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.9em;
	letter-spacing: 0.2em;
}

#menu li a:hover
{
	text-decoration: underline;
}

/* Content */

img.left 
{
border: 1px dashed #8A6;
	float: left;
	margin-right: 10px}
#xbg1
{
	position: absolute;
	z-index: 2;
	background-image: url('images/a2(1).jpg'), url('images/resz.png');
				background-position: top left;
				background-repeat: repeat-y, repeat-x;
	width: 840px;
	height: 98px;
	
}

#content
{
	background: #34807F url('images/a3(1).jpg') top left repeat-y;
	margin-left: 23px;
	z-index: 3;
}

#content p
{
	margin-bottom: 2em;
	line-height: 1.5em;
}

#content h2,h3,h4,h5,h6
{
	position: relative;
	color: #3F2109;
	margin-bottom: 1em;
	padding-bottom: 0.5em;
	border-bottom: solid 1px #DFBF99;
}

#content h2
{
	font-size: 1.5em;
}

#content h3
{
	font-size: 1.1em;
}

#content ul
{
	margin-bottom: 2em;
	padding-left: 1em;
}

#content blockquote
{
	margin-bottom: 2em;
}

#content blockquote p
{
	border-right: solid 8px #1C9D60;
	padding-right: 1em;
	margin-bottom: 0em;
	text-align: right;
}

#content table
{
	margin-bottom: 2em;
}

#content table th
{
	text-align: left;
	font-weight: bold;
	padding: 0.5em;
}

#content table td
{
	padding: 0.5em;
}

#content table tr.rowA
{
	background-color: #DFBD99;
	color: inherit;
}

#content table tr.rowB
{
	background-color: #EFDCC2;
	color: inherit;
}

/* Primary Content */

#primaryContentContainer
{
	position: relative;
	z-index: 2;
	float: right;
	margin-left: -18em;
	margin-right: 1em;
	width: 100%;
}

#primaryContent
{
	margin: 2em 5.0em 4em 19em;
	padding: 0em 0em 0em 1.5em;
	border-left: solid 1px #DFBF99;
}

/* Secondary Content */

#secondaryContent
{
	position: relative;
	z-index: 3;
	float: right;
	width: 15em;
	margin-top: 2em;
}

/* Footer */

#footer
{
	position: absolute;
	width: 840px;
	height: 352px;
	padding-top: 0px;
	background: #34807F url('images/Untitled 5.jpg') bottom left no-repeat;
	text-align: center;
}

.clear
{
	clear: both;
}

/*mappa*/
#kivul
{
	position: absolute;
	width: 280px;
	height: 255px;
	float: left;
	z-index: 7;
	margin-top: 5px;
	margin-left: -40px;
	
}

/*Kezdõlap*/
#video {position: relative;
	width:420px; 
	height:315px;}
	
/*Ûrlap*/
input.btn, input.btn1 {
	color: white;
	font-weight: bold ;
	margin: 0px;
	padding: 10px;
	background: url('images/btn.jpg');
	border: 1px outset white;}

input.btn1 {background-image: url('images/btn2.jpg')}